# Ignore Python bytecode files
*.pyc

# Ignore Python virtual environment directories
venv/
env/
/.venv/
*.env/

# Ignore Visual Studio files
.vs/
*.suo
*.user
*.sln.docstates
*.dll
bin/
obj/
*.exe
*.pdb
*.userprefs
*.log
*.vspscc
*.vssscc
*.pidb
*.ide
*.aps
*.app
*.pch
*.vspscc
*.vssscc

# Ignore ReSharper files
_ReSharper*/

# Ignore NuGet packages
packages/
*.nupkg

# Ignore Visual Studio Code files
.vscode/

# Ignore any other build files or temporary files
*~
*.bak
*.swp
